<template name='profilePage'>
<div id='profilePage' class='page'>
	<h1>
		<span>{{{title}}}</span>
		<div id='friendSearchBar'>
			<i class='fa fa-search'></i>
			<input id='friendSearchInput' type='text' placeholder='Search for a user...' />
		</div>
	</h1>
	<div id='header'>
		<img class='portrait' src='{{portrait}}' />

		<div id="statistics">
			<div class="statistic">
				<div class="value">{{numSubscriptions}}</div>
				<div class="label"># Subscriptions</div>
			</div>
			<div class="statistic">
				<div class="value finished">{{finished}}</div>
				<div class="label">Finished</div>
			</div>
			<div class="statistic">
				<div class="value watching">{{watching}}</div>
				<div class="label">Watching</div>
			</div>
			<div class="statistic">
				<div class="value backlogged">{{backlogged}}</div>
				<div class="label">Backlogged</div>
			</div>
			<div class="statistic">
				<div class="value onhold">{{onhold}}</div>
				<div class="label">On Hold</div>
			</div>
			<div class="statistic">
				<div class="value abandoned">{{abandoned}}</div>
				<div class="label">Abandoned</div>
			</div>
		</div>
	</div>
</div>
</template>
