<template name="infoBar">
<div id="infoBar">
	<div class="header">
		<div class="pull-left">
			<div class="title">{{title}}</div>
			<div class="type">{{type}}</div>
		</div>
		<div class="pull-right">
			<i class="close-btn fa fa-times-circle"></i>
		</div>
	</div>
	<div id="navbar">
		<span class="navitem" data-subpage="overview">Overview</span>
		<span class="navitem" data-subpage="activity">Activity</span>
		<span class="navitem" data-subpage="music">Music</span>
		<span class="navitem" data-subpage="friends">Friends</span>
	</div>
	<div class="body">
		{{#if showOverviewSubpage}}{{> overviewSubpage}}{{/if}}
		{{#if showActivitySubpage}}{{> activitySubpage}}{{/if}}
		{{#if showMusicSubpage}}{{> musicSubpage}}{{/if}}
		{{#if showFriendsSubpage}}{{> friendsSubpage}}{{/if}}
	</div>
	{{> loadingSubpage}}
</div>
</template>
