<template name="sideBar">
<div id="sideBar">
	<div id="corner">
		<img src="assets/onigiri_white.png">
		<h1>anigiri</h1>
		<i class="toggle fa fa-toggle-right"></i>
	</div>
	<div id="navigation">
		<div class="search-btn">
			<i class="fa fa-search"></i>
			<span>Search Anigiri</span>
			<i class="close-btn fa fa-times-circle"></i>
		</div>
		<h3>Navigation</h3>
		<div class="options">
			<div class="option wrapper" data-page="dashboard">
				<div class="pull-left">
					<i class="fa fa-user"></i>
					<span>Dashboard</span>
				</div>
				<div class="loadingSpinner pull-right"></div>
			</div>
			<div class="option wrapper" data-page="collection">
				<div class="pull-left">
					<i class="fa fa-th-large"></i>
					<span>Collection</span>
				</div>
				<div class="loadingSpinner pull-right"></div>
			</div>
			<div class="option wrapper" data-page="discover">
				<div class="pull-left">
					<i class="fa fa-globe"></i>
					<span>Discover</span>
				</div>
				<div class="loadingSpinner pull-right"></div>
			</div>
			<div class="option wrapper" data-page="friends">
				<div class="pull-left">
					<i class="fa fa-users"></i>
					<span>Friends</span>
				</div>
				<div class="loadingSpinner pull-right"></div>
			</div>
			<div class="option wrapper" data-page="statistics">
				<div class="pull-left">
					<i class="fa fa-bar-chart-o"></i>
					<span>Statistics</span>
				</div>
				<div class="loadingSpinner pull-right"></div>
			</div>
			{{#if isAdminUser}}
			<div class="option wrapper" data-page="admin">
				<div class="pull-left">
					<i class="fa fa-wrench"></i>
					<span>Admin</span>
				</div>
				<div class="loadingSpinner pull-right"></div>
			</div>
			{{/if}}
		</div>
	</div>
	<div id="account">
		<img class="portrait" src="{{portrait}}" />
		<div class="group">
			<div class="name">{{name}}</div>
			<div id="signout"><i class="fa fa-sign-out"></i><span>Sign Out</span></div>
		</div>
	</div>
</div>
</template>
