#activitySubpage {
	.section {
		margin-bottom: 24px;

		h1 {
			color: darken(@altPaneTextColor,30%);
			text-transform: uppercase;
			font-size: 11px;
			font-weight: 400;
			margin-bottom: 4px;
		}
		.content {
			overflow: hidden;

			.progress {
				.transition;
				cursor: pointer;
				display: inline-block;
				height: 24px;
				line-height: 24px;
				width: 94px;
				margin-right: 2px;
				text-align: center;
				background-color: #212330;
				margin-bottom: 4px;
				.rounded(32px);
				
				&.hover {
					opacity: 0.7;
					color: #fff;
				}
				&.selected {
					opacity: 1.0;
					color: #fff;
				}
				&[data-progress=backlogged].hover,
				&[data-progress=backlogged].selected { background-color: @colorBacklogged; }
				&[data-progress=watching].hover,
				&[data-progress=watching].selected { background-color: @colorWatching; }
				&[data-progress=onhold].hover,
				&[data-progress=onhold].selected { background-color: @colorOnHold; }
				&[data-progress=finished].hover,
				&[data-progress=finished].selected { background-color: @colorFinished; }
				&[data-progress=abandoned].hover,
				&[data-progress=abandoned].selected { background-color: @colorAbandoned; }
			}
			.episodeControls {
				float: left;
				margin-right: 12px;

				.epCountControl {
					.transition;
					cursor: pointer;
					font-size: 28px;
					color: darken(@altPaneTextColor,30%);
					.user-select;

					&.hover {
						color: darken(@altPaneTextColor,20%);
					}
				}
			}
			.episodeCount {
				float: left;
				font-size: 32px !important;
				height: 32px;
				line-height: 32px;
				font-size: 12px;
				color: darken(@altPaneTextColor,20%);

				.currEpisode {
					font-weight: 200;
					color: @altPaneTextColor;
				}
				.maxEpisodes {
					font-size: 13px !important;
				}
			}
			.stars {
				float: left;
				cursor: pointer;
				.star {
					.transition;
					font-size: 24px;
					margin-right: 2px;

					&.fa-star-o {
						color: @unstarColor;
					}
					&.fa-star {
						color: @starColor;
					}
				}
			}
		}
	}
	.unsubscribe-btn {
		.transition;
		cursor: pointer;
		position: absolute;
		bottom: 0px;
		width: @infoBarWidth;
		right: 0px;
		text-align: center;
		display: inline-block;
		height: 32px;
		line-height: 32px;
		background-color: @altPaneFooterBgColor;
		color: @altPaneFooterTextColor;

		&.hover {
			background-color: #E21D3F;
			color: #fff;
		}
	}
}
