/** RESET CSS **/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/** FONTS **/
@font-face { font-family: 'HelveticaNeue'; font-weight: 100; src: url('/fonts/HelveticaNeueLTPro-UltLt.otf'); }
@font-face { font-family: 'HelveticaNeue'; font-weight: 200; src: url('/fonts/HelveticaNeueLTPro-Lt.otf'); }
@font-face { font-family: 'HelveticaNeue'; font-weight: 300; src: url("/fonts/HelveticaNeue.ttf"); }
@font-face { font-family: 'HelveticaNeue'; font-weight: 400; src: url('/fonts/HelveticaNeueLTPro-Bd_0.otf'); }
@font-face { font-family: 'ProximaNova';   font-weight: 300; src: url('/fonts/ProximaNova-Regular.otf'); }
@font-face { font-family: 'ProximaNova';   font-weight: 200; src: url('/fonts/ProximaNova-Light.otf'); }
@font-face { font-family: 'ProximaNova';   font-weight: 400; src: url('/fonts/ProximaNova-Semibold.otf'); }

html, body {
    font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #7a7a7a;
    line-height: 2.0em;
    width: 100%;
    height: 100%;
}


/** miscellaneous important styles **/
.screen {
    height: 100%;
}
.screen > .content {
    width: 1100px;
    margin: 0 auto;
}
.welcome-message,
.empty-message {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
}
.bigbtn {
    cursor: pointer;
    display: inline-block;
    padding: 12px 24px;
    background-color: #f53b5b;
    color: #fff;
    border-radius: 24px;
    font-size: 24px;
    font-weight: 200;
}
.bigbtn.hover {
    background-color: #f8738a;
}
.empty-message p {
    margin-bottom: 24px;
    line-height: 1.75em;
    font-size: 19px;
    font-weight: 200;
    color: #99A0B8;
}
.empty-message .accent {
    font-size: 32px;
    color: #353D53;
}

/** SPLASH SCREEN **/
#splashScreen {

}
#splashScreen > .content {
    text-align: center;
}
#splashScreen h1 {
    padding-top: 20%;
    color: #3E4956;
    font-size: 48px;
    line-height: 64px;
}
#splashScreen h2 {
    color: #9399A3;
    font-size: 18px;
    margin-bottom: 48px;
}
#login-buttons {
    display: none;
}

/** LOADINGSCREEN **/
#loadingScreen {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../../assets/loader2.gif) center no-repeat #15191F;
}

/** SIDEBAR **/
#sideBar {
    position: fixed;
    box-sizing: border-box;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 215px;
}
#sideBar .scrollable {
    position: fixed;
    top: 64px;
    bottom: 72px;
    left: 0px;
    width: 215px;
    overflow-y: auto;
    background-color: #2A2C3C;
}
#sideBar .section {
    padding-top: 16px;
}
#sideBar .section h1 {
    color: #585A70;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 400;
    padding: 0px 24px;
}
#sideBar .option {
    cursor: pointer;
    padding: 6px 24px;
    color: #A2A4B5;
    -ms-user-select: none; /* IE 10+ */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
#sideBar .option.hover {
    background-color: #383A4E;
    color: #fff;
}
#sideBar .option.selected {
    background-color: #212330;
    color: #f8738a;
}
#sideBar .option i {
    display: inline-block;
    margin-right: 12px;
}

/** CORNER **/
#corner {
    overflow: hidden;
    box-sizing: border-box;
    width: 215px;
    height: 64px;
    background-color: #f8738a;
    padding: 0px 24px;
    line-height: 68px;
}
#corner img {
    float: left;
    width: 32px;
    height: 32px;
    margin-top: 16px;
    margin-right: 8px;
}
#corner h1 {
    float: left;
    color: #fff;
    font-family: ProximaNova, Helvetica, Arial;
    font-weight: 100;
    font-size: 2.0em;
}

/**
 * SEARCHBAR
 */
#searchBar {
    box-sizing: border-box;
    border: solid 1px #4A4C5C;
    margin: 0 auto;
    margin-top: 24px;
    width: 184px;
    height: 32px;
    line-height: 29px;
    padding: 0px 8px;
}
#searchBar i {
    margin-right: 4px;
}
#searchBar input {
    width: 132px;
    height: 16px;
    line-height: 17px;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: HelveticaNeue, Helvetica, Arial;
    font-weight: 300;
    font-size: 13px;
    color: #fff;
}
#searchInput::-webkit-input-placeholder { color: #7a7a7a; }
#searchInput:-moz-placeholder { color: #7a7a7a; }
#searchInput:-ms-input-placeholder { color: #7a7a7a; }

/** AUTOCOMPLETE **/
.ui-autocomplete {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    border: none;
    border-radius: 0px;
    margin: 0;
    padding: 0;
}
.ui-menu-item {
    background-color: #2A2C3C;
    color: #fff;
    border-top: solid 1px #343646;
    border-bottom: solid 1px #1A232E;
}
.ui-menu-item > a {
    font-family: HelveticaNeue, Helvetica,Arial;
    font-weight: 300 !important;
    cursor: pointer;
    border-radius: 0px;
    color: #A2A4B5;
    padding: 8px 16px !important;
}
.ui-menu-item > a.ui-state-active,
.ui-menu-item > a.ui-state-focus,
.ui-menu-item > a.ui-state-hover {
    border: solid 1px transparent;
    background-color: #383A4E;
    color: #fff;
}
.ui-menu-item .label {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.ui-menu-item .type {
    color: #585A70;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 400;
}

/** ACCOUNT **/
#account {
    position: fixed;
    box-sizing: border-box;
    overflow: hidden;
    left: 0px;
    bottom: 0px;
    height: 72px;
    width: 215px;
    background-color: #0D1922;
}
#account-portrait {
    float: left;
    line-height: 64px;
    margin: 13px 12px 0px 24px;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    border: solid 3px #5A6377;
}
#account-text {
    float: left;
    margin-top: 13px;
}
#account-name {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
}
#signout {
    cursor: pointer;
    color: #5A6088;
    font-size: 0.9em;
    line-height: 1.0em;
}
#signout i {
    margin-right: 0.4em;
}
#signout.hover {
    color: #f8738a;
}

/** PAGES **/
#page-container {
    position: absolute;
    box-sizing: border-box;
    top: 0px;
    left: 215px;
    right: 0px;
    bottom: 0px;
}
.page {
    height: 100%;
}
.page h1 {
    font-weight: 200;
    font-size: 2.0em;
    color: #7E9094;
    padding: 0px 32px;
    height: 64px;
    line-height: 64px;
    box-sizing: border-box;
    border-bottom: solid 1px #D8DEE5;
}
.page h2 {
    margin: 24px 32px 4px 32px;
    color: #AAA8B4;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
}
.page h2 .counter {
    color: #f8738a;
}

/** DASHBOARD PAGE **/
#dashboardPage .welcome-message .logo {
    width: 96px;
    height: 96px;
    margin-bottom: 24px;
}
#dashboardPage .welcome-message .title {
    margin-bottom: 12px;
    font-size: 36px;
    font-weight: 200;
    color: #4E596F;
}
#dashboardPage .welcome-message .title span {
    color: #f53b5b;
}
#dashboardPage .welcome-message p {
    margin-bottom: 36px;
    font-size: 18px;
    font-weight: 200;
    color: #A2A9C5;
}
#dashboardPage .section {
    margin-bottom: 36px;
}
#dashboardPage .section h2 {
}
#dashboardPage .section .content {
    margin: 0 32px;
}
#dashboardPage .section .empty-message {
    text-align: left;
}
#dashboardPage .gridContainer {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

/** COLLECTION PAGE **/
#collectionFilters {
}
#collectionGrid {
    overflow: hidden;
    padding: 16px;
}

/** DISCOVER PAGE **/
/** ... **/

/** SOCIAL PAGE **/
/** ... **/

/** STATISTICS PAGE **/
/** ... **/

/** ADMINPAGE **/
#adminPage table {
    width: 100%;
    margin-bottom: 12px;
}
#adminPage table th,
#adminPage table td {
    padding: 8px 12px;
}
#adminPage table th {
    background-color: #f5f5f5;
    font-weight: 400;
    text-align: left;
}
#adminPage table tr:nth-child(odd) td {
    background-color: #F7F7F7;
}
#adminPage .button-group {
    text-align: center;
}
#adminPage .button {
    cursor: pointer;
    background-color: #f8738a;
    color: #fff;
    text-align: center;
    display: inline-block;
    margin: 12px 4px;
    height: 36px;
    line-height: 36px;
    width: 136px;
    border-radius: 8px;
}
#adminPage .button.hover {
    background-color: #F793A4;
}

/** INFOBAR **/
#infoBar {
    position: fixed;
    top: 0px;
    right: -340px;
    bottom: 0px;
    width: 340px;
    background-color: #2A2C3C;
}
#infoBar .header {
    box-sizing: border-box;
    padding: 12px 24px;
    overflow: hidden;
    height: 64px;
    background-color: #212330;
}
#infoBar .left {
    float :left;
}
#infoBar .right {
    float: right;
}
#infoBar .header .title {
    width: 256px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #A2A4B5;
    font-size: 1.2em;
    line-height: 1.6em;
}
#infoBar .header .type {
    color: #585A70;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 1.4em;
    font-weight: 400;
}
#infoBar .close-btn {
    cursor: pointer;
    font-size: 2.0em;
    color: #454653;
    line-height: 40px;
}
#infoBar .close-btn.hover {
    color: #5C5F6F;
}
#infoBar #navbar {
    text-align: center;
    box-sizing: border-box;
    height: 51px;
    padding: 12px 0px;
    border-bottom: solid 1px #414346;
}
#infoBar .navitem {
    cursor: pointer;
    display: inline-block;
    color: #A2A4B5;
    width: 72px;
    height: 24px;
    line-height: 24px;
    border-radius: 16px;
}
#infoBar .navitem.hover {
    background-color: #383A4E;
    color: #fff;
}
#infoBar .navitem.selected {
    background-color: #f53b5b;
    color: #fff;
}
#infoBar .body {
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    top: 115px;
    right: -340px;
    bottom: 0px;
    width: 340px;
}
/** LOADING SUBPAGE **/
#loadingSubpage {
    display: none;
    position: fixed;
    background-color: #2A2C3C;
    top: 64px;
    right: 0px;
    bottom: 0px;
    width: 340px;
    overflow: hidden;
    text-align: center;
}
#loadingSubpage img {
    width: 132px;
    height: 132px;
    border: solid 12px #414857;
    border-radius: 50%;
    margin: 25% auto;
}
/** SUBPAGES **/
#infoBar .subpage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #A2A4B5;
    padding: 12px 24px;
}
#infoBar .subpage .empty-message {
    line-height: 1.5em;
    color: #6F6F86;
}
#infoBar .subpage .empty-message p {
    margin-bottom: 1.5em;
    font-size: 14px;
}
#infoBar .subpage .empty-message .accent {
    color: #C6C6E7;
    font-size: 14px;
}

/** OVERVIEW SUBPAGE**/
#overviewSubpage .top {
    overflow: hidden;
    margin-bottom: 12px;
}
#overviewSubpage .subscribed {
    color: #5EDF6E;
    font-size: 24px;
    position: absolute;
    right: 24px;
}
#overviewSubpage .poster {
    display: block;
    float: left;
    width: 96px;
    margin-right: 12px;
}
#overviewSubpage .primInfo {
    float: left;
    width: 167px;
}
#overviewSubpage .field {
    line-height: 1.5em;
}
#overviewSubpage .label {
    color: #585A70;
    font-size: 11px;
    text-align: right;
    display: inline-block;
    width: 56px;
    margin-right: 4px;
}
#overviewSubpage .value {
    display: inline-block;
}
#overviewSubpage .progress.finished {
    color: #5EDF6E;
}
#overviewSubpage .progress.watching {
    color: #5EB6DF;
}
#overviewSubpage .progress.onhold {
    color: #DFD55E;
}
#overviewSubpage .progress.backlogged {
    color: #DF5EDA;
}
#overviewSubpage .progress.abandoned {
    color: #DF5E5E;
}
#overviewSubpage .rating .star {
    margin-right: 2px;
}
#overviewSubpage .rating .fa-star-o {
    color: #7a7a7a;
}
#overviewSubpage .rating .fa-star {
    color: #DAC31A;
}
#overviewSubpage .userControls {
    text-align: center;
    margin-bottom: 8px;
}
#overviewSubpage #subscription-status {
    cursor: pointer;
    background-color: #616E7A;
    color: #fff;
    display: inline-block;
    width: 96px;
    text-align: center;
    font-size: 11px;
    border-radius: 32px;
    height: 24px;
    line-height: 24px;
}
#overviewSubpage #subscription-status.subscribed {
    background-color: #299E1E;
}
#overviewSubpage #subscription-status.hover {
    background-color: #74B36E;
}
#overviewSubpage #subscription-status.subscribed.hover {
    background-color: #D63C3C;
}
#overviewSubpage .plot {
    line-height: 1.25em;
    margin-bottom: 24px;
}
#overviewSubpage .readmore {
    cursor: pointer;
    color: #f8738a;
}
#overviewSubpage .genres,
#overviewSubpage .themes {
    margin-bottom: 12px;
}
#overviewSubpage .genres .title,
#overviewSubpage .themes .title {
    color: #585A70;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.0em;
}
#overviewSubpage .genres .list,
#overviewSubpage .themes .list {
    color: #5a939a;
    line-height: 1.25em;
}
#overviewSubpage .accent {
    color: #fff;
}

/** ACTIVITY SUBPAGE **/
#activitySubpage .subscribe-btn {
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px;
    background-color: #f53b5b;
    color: #fff;
    border-radius: 24px;
}
#activitySubpage .subscribe-btn.hover {
    background-color: #f8738a;
}
#activitySubpage .section {
    margin-bottom: 24px;
}
#activitySubpage .section h1 {
    color: #585A70;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 400;
    margin-bottom: 4px;
}
#activitySubpage .section .content {
    overflow: hidden;
}
#activitySubpage .progress {
    cursor: pointer;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    width: 94px;
    margin-right: 2px;
    text-align: center;
    background-color: #212330;
    margin-bottom: 4px;
    border-radius: 32px;
}
#activitySubpage .progress.hover {
    opacity: 0.7;
}
#activitySubpage .progress.selected {
    opacity: 1.0;
}
#activitySubpage .progress.hover,
#activitySubpage .progress.selected {
    color: #fff;
}
#activitySubpage .progress[data-progress=backlogged].hover,
#activitySubpage .progress[data-progress=backlogged].selected {
    background-color: #DF5EDA;
}
#activitySubpage .progress[data-progress=watching].hover,
#activitySubpage .progress[data-progress=watching].selected {
    background-color: #5EB6DF;
}
#activitySubpage .progress[data-progress=onhold].hover,
#activitySubpage .progress[data-progress=onhold].selected {
    background-color: #DFD55E;
}
#activitySubpage .progress[data-progress=finished].hover,
#activitySubpage .progress[data-progress=finished].selected {
    background-color: #5EDF6E;
}
#activitySubpage .progress[data-progress=abandoned].hover,
#activitySubpage .progress[data-progress=abandoned].selected {
    background-color: #DF5E5E;
}
#activitySubpage .episodeControls {
    float: left;
    margin-right: 12px;
}
#activitySubpage .epCountControl {
    cursor: pointer;
    font-size: 28px;
    color: #454653;
    -ms-user-select: none; /* IE 10+ */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
#activitySubpage .epCountUp.hover,
#activitySubpage .epCountDown.hover {
    color: #5C5F6F;
}
#activitySubpage .episodeCount {
    float: left;
    font-size: 32px !important;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    color: #5A6088;
}
#activitySubpage .currEpisode {
    font-weight: 200;
    color: #C6C6E7;
}
#activitySubpage .maxEpisodes {
    font-size: 13px !important;
}
#activitySubpage .star {
    cursor: pointer;
    font-size: 24px;
    margin-right: 2px;
}
#activitySubpage .fa-star-o {
    color: #7a7a7a;
}
#activitySubpage .fa-star {
    color: #DAC31A;
}
#activitySubpage .unsubscribe-btn {
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    background-color: #3B3E50;
    color: #97A5BE;   
}
#activitySubpage .unsubscribe-btn.hover {
    background-color: #E21D3F;
    color: #fff;
}


/** MUSIC SUBPAGE **/
#musicSubpage {
    padding: 12px 0 !important;
}
#musicSubpage h1 {
    color: #585A70;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 400;
    padding: 0 24px;
    border-bottom: solid 2px #962B6B;
}
#musicSubpage .song-list {
    margin-bottom: 12px;
}
#musicSubpage .song {
    overflow: hidden;
    padding: 4px 16px;
    line-height: 1.25em;
}
#musicSubpage .song:nth-child(2n+1) {
    background-color: #313344;
}
#musicSubpage .song .num {
    float: left;
    width: 16px;
    text-align: right;
    margin-right: 12px;
    color: #fff;
}
#musicSubpage .song .group {
    float: left;
}
#musicSubpage .song .title,
#musicSubpage .song .artist {
    width: 190px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#musicSubpage .song .title {

}
#musicSubpage .song .artist {
    color: #5A6088;
    font-size: 1.0em;
    line-height: 1.25em;
}
#musicSubpage .song .episodes {
    float: right;
    text-align: right;
}
#musicSubpage .song .episodes .label {
    color: #5A6088;
    margin-top: 4px;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 1.0em;
}

/** SOCIAL SUBPAGE **/
#socialSubpage .addfriends-btn {
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px;
    background-color: #f53b5b;
    color: #fff;
    border-radius: 24px;
}
#socialSubpage .addfriends-btn.hover {
    background-color: #f8738a;
}

/** GRID ITEM **/
.gridItem {
    cursor: pointer;
    display: inline-block;
    padding: 12px;
    line-height: 1.3em;

    box-sizing: border-box;
    width: 193px;
    height: 320px;
    vertical-align: top;

    text-align: left;
}
.gridItem.hover {
    background-color: #DCDEE9;
}
.gridItem .cover {
    box-sizing: border-box;
    border: solid 1px #D7DAFF;
    border-top: solid 5px transparent;
    overflow: hidden;
    width: 169px;
    height: 244px;
    margin-bottom: 4px;
}
.gridItem.finished .cover {
    border-color: #5EDF6E;
}
.gridItem.watching .cover {
    border-color: #5EB6DF;
}
.gridItem.backlogged .cover {
    border-color: #DF5EDA;
}
.gridItem.onhold .cover {
    border-color: #DFD55E;
}
.gridItem.abandoned .cover {
    border-color: #DF5E5E;
}
.gridItem .cover img {
    width: 100%;
    height: 100%;
}
.gridItem .title {
    width: 169px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: Arial;
    font-weight: bold;
    color: #45445A;
}
.gridItem .episodes span {
    color: #B8BBD1;
}
.gridItem .rating .star {
    margin-right: 2px;
}
.gridItem .rating .fa-star.unfilled {
    color: #CCCDCE;
}
.gridItem .rating .fa-star {
    color: #DAC31A;
}

/** TINY GRID ITEM **/
.tinyGridItem {
    cursor: pointer;
    position: relative;
    display: inline-block;
    overflow: hidden;
    line-height: 1.3em;
    margin-right: -4px;
    text-align: left;
}
.tinyGridItem .cover {
    box-sizing: border-box;
    overflow: hidden;
    width: 139px;
    height: 200px;
}
.tinyGridItem .hoverTarget,
.tinyGridItem .maskcontent,
.tinyGridItem .mask {
    position: absolute;
    display: none;
    background: #000;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
}
.tinyGridItem .maskcontent,
.tinyGridItem .hoverTarget {
    display: block;
    background: transparent;
}
.tinyGridItem .cover img {
    width: 100%;
    height: 100%;
}
.tinyGridItem .maskcontent {
    height: auto;
    padding: 12px;
    bottom: -200px;
    color: #D4D6E0;
}
.tinyGridItem .title {
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: Arial;
    font-weight: bold;
    color: #fff;
}
.tinyGridItem .episodes span {
    color: #B8BBD1;
}
.tinyGridItem .rating .star {
    margin-right: 2px;
}
.tinyGridItem .rating .fa-star.unfilled {
    color: #CCCDCE;
}
.tinyGridItem .rating .fa-star {
    color: #DAC31A;
}

/** MACROS **/
.pull-left { float: left; }
.pull-right { float: right; }
.wrapper { overflow: hidden; }
.valigner { display: table-cell; vertical-align: middle; }
