@fontSize: 13px;
@loadingImageColor: #eaeaea;

// themes

// pink theme
@themeColor: #f8738a;
@themeAlt: #f53b5b;

// purple theme
// @themeColor: rgb(175, 64, 175);
// @themeAlt: lighten(@themeColor,10%);

// dimensions
@topBarHeight: 64px;
@bottomBarHeight: 72px;
@sideBarWidth: 215px;
@sideBarWidthMin: 72px;
@infoBarWidth: 340px;
@profileBarWidth: 250px;

// progress enumeration colors
@colorFinished: #5EDF6E;
@colorWatching: #5EB6DF;
@colorOnHold: #DFD55E;
@colorBacklogged: #DF5EDA;
@colorAbandoned: #DF5E5E;

// grid item dimensions
@gridItemScale: 0.8;
@gridItemCoverWidth: 169px * @gridItemScale;
@gridItemCoverHeight: 244px * @gridItemScale;
@gridItemPadding: 12px * @gridItemScale;
@gridItemFontSize: 13px;
@gridItemLineHeight: 1.3;

// tiny grid item dimensions
@tinyGridItemScale: 1.0;
@tinyGridItemWidth: 139px * @tinyGridItemScale;
@tinyGridItemHeight: 139px * @tinyGridItemScale;
