.animeMenuItem {
	.label {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		font-weight: 400;
	}
	.type {
		color: darken(@altPaneTextColor,30%);
		text-transform: uppercase;
		font-size: 10px;
		font-weight: 500;
	}
}
