.friendMenuItem {
	.portrait {
		.circle(32px);
		vertical-align: bottom;
		margin-right: 12px;
		background-color: @loadingImageColor;
	}
	.name {
		font-weight: 400;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.email {
		color: darken(@altPaneTextColor,30%);
		text-transform: uppercase;
		font-size: 10px;
		font-weight: 500;
	}
	.email {
		text-transform: none;
	}
	.fa-check-circle {
		color: @checkColor;
		font-size: 18px;
		margin-top: 12px;
	}
}
