#sideBar {
	position: fixed;
	.box-sizing;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: @sideBarWidth;

	#corner {
		.transition;
		position: relative;
		overflow: hidden;
		.box-sizing;
		width: @sideBarWidth;
		height: @topBarHeight;
		background-color: @themeColor;
		padding: 0px 12px 0px 24px;
		line-height: 68px;

		h1 {
			float: left;
			color: #fff;
			font-family: ProximaNova, Helvetica, Arial;
			font-weight: 100;
			font-size: 2.0em;
		}
		img {
			float: left;
			width: 32px;
			height: 32px;
			margin-top: 16px;
			margin-right: 8px;
		}
		i.toggle {
			.transition;
			cursor: pointer;
			font-size: 16px;
			color: lighten(@themeColor,10%);
				position: absolute;
				top: 4px;
				right: 4px;

			&.hover {
				color: lighten(@themeColor,20%);	
			}
		}
	}
	#navbar {
		.transition;
		position: fixed;
		top: @topBarHeight;
		bottom: @bottomBarHeight;
		left: 0px;
		width: @sideBarWidth;
		overflow-y: auto;
		background-color: #2A2C3C;
	}
	.section {
		padding-top: 16px;

		h1 {
			color: #585A70;
			text-transform: uppercase;
			font-size: 11px;
			font-weight: 400;
			padding: 0px 24px;
		}
	}
	.options {
		.option {
			.transition;
			cursor: pointer;
			padding: 6px 24px;
			color: #A2A4B5;
			.opacity(1);
			.user-select;
		
			&.hover {
				background-color: #383A4E;
				color: #fff;
			}
			&.selected {
				background-color: #212330;
				color: @themeColor;
			}
			i {
				display: inline-block;
				font-size: 14px;
				line-height: 1.0em;
				margin-right: 12px;
			}
		}
	}

	&.minimized {
		#corner {
			text-align: center;
			padding: 0;
			width: @sideBarWidthMin;
			img {
				float: none;
				margin-right: 0px;
			}
			h1 {
				display: none;
			}
		}
		#navbar {
			width: @sideBarWidthMin;
			h1 {
				display: none;
			}
		}
		#animeSearchBox {
			display: none;
		}
		.section {
			padding: 0;
		}
		.options {
			.option {
				padding: 0;
				text-align: center;
				i {
					padding: 12px 0;
					margin: 0;
					font-size: 24px;
				}
				span {
					display: none;
				}
			}
		}
	}
}
