#activitySubpage {
	.unsubscribe-btn {
		cursor: pointer;
		position: absolute;
		bottom: 0px;
		left: 0px;
		right: 0px;
		text-align: center;
		display: inline-block;
		height: 32px;
		line-height: 32px;
		background-color: #3B3E50;
		color: #97A5BE;   

		&.hover {
			background-color: #E21D3F;
			color: #fff;
		}
	}
	.section {
		margin-bottom: 24px;

		h1 {
			color: #585A70;
			text-transform: uppercase;
			font-size: 11px;
			font-weight: 400;
			margin-bottom: 4px;
		}
		.content {
			overflow: hidden;

			.progress {
				cursor: pointer;
				display: inline-block;
				height: 24px;
				line-height: 24px;
				width: 94px;
				margin-right: 2px;
				text-align: center;
				background-color: #212330;
				margin-bottom: 4px;
				border-radius: 32px;

				&.hover {
					opacity: 0.7;
					color: #fff;
				}
				&.selected {
					opacity: 1.0;
					color: #fff;
				}
				&[data-progress=backlogged].hover,
				&[data-progress=backlogged].selected { background-color: $colorBacklogged; }
				&[data-progress=watching].hover,
				&[data-progress=watching].selected { background-color: $colorWatching; }
				&[data-progress=onhold].hover,
				&[data-progress=onhold].selected { background-color: $colorOnHold; }
				&[data-progress=finished].hover,
				&[data-progress=finished].selected { background-color: $colorFinished; }
				&[data-progress=abandoned].hover,
				&[data-progress=abandoned].selected { background-color: $colorAbandoned; }
			}
			.episodeControls {
				float: left;
				margin-right: 12px;

				.epCountControl {
					cursor: pointer;
					font-size: 28px;
					color: #454653;
					@include user-select;

					&.hover {
						color: #5C5F6F;
					}
				}
			}
			.episodeCount {
				float: left;
				font-size: 32px !important;
				height: 32px;
				line-height: 32px;
				font-size: 12px;
				color: #5A6088;

				.currEpisode {
					font-weight: 200;
					color: #C6C6E7;
				}
				.maxEpisodes {
					font-size: 13px !important;
				}
			}
			.star {
				cursor: pointer;
				font-size: 24px;
				margin-right: 2px;

				&.fa-star-o {
					color: #7a7a7a;
				}
				&.fa-star {
					color: #DAC31A;
				}

			}
		}
	}
}
