<template name='adminPage'>
<div id='adminPage' class='page'>
    <h1>Administrator Panel</h1>
    
    <h2>Summary</h2>
    <table>
        <tr>
            <th>Total Animes</th>
            <th>Total ANN Info</th>
            <th>Total HB Info</th>
            <th>Total Covers</th>
            <th>Total Songs</th>
        </tr>
        <tr>
            <td>{{{getTotalAnimes}}}</td>
            <td>{{{getTotalANN}}}</td>
            <td>{{{getTotalHBI}}}</td>
            <td>{{{getTotalCovers}}}</td>
            <td>{{{getTotalSongs}}}</td>
        </tr>
    </table>
    <div class='button-group'>
        <span id='fetchAnimesBtn' class='button'>Fetch Animes</span>
        <span id='deleteAnimesBtn' class='button'>Delete Animes</span>
        <span id='deleteSongsBtn' class='button'>Delete Songs</span>
    </div>
</div>
</template>
