#dashboardPage {
	.welcome-message {
		.logo {
			width: 96px;
			height: 96px;
			margin-bottom: 24px;
		}
		.title {
			margin-bottom: 12px;
			font-size: 36px;
			font-weight: 200;
			color: #4E596F;

			span {
				color: $themeAlt;
			}
		}
		p {
			margin-bottom: 36px;
			font-size: 18px;
			font-weight: 200;
			color: #A2A9C5;
		}
	}
	.section {
		margin-bottom: 36px;

		h2 {
		}
		.content {
			margin: 0 32px;
		}
		.empty-message {
			text-align: left;
		}
	}

	.friendRequest {
		background: #EBECEE;
		width: 174px;
		overflow: hidden;
		padding: 8px 12px 12px 12px;

		.portrait {
			width: 48px;
			height: 48px;
			border-radius: 50%;
			margin-top: 4px;
			margin-right: 8px;
		}
		.friendName {
			line-height: 1.5em;
			margin-top: 6px;
			@include truncated-text(114px);
		}
		.icon-btn {
			text-align: center;
			cursor: pointer;
			display: inline-block;
			width: 24px;
			height: 24px;
			line-height: 24px;
			border-radius: 50%;
			color: #fff;

			&.accept-btn {
				background: #3ECF3E;
				&.hover {
					background: darken(#3ECF3E,10%);
				}
			}
			&.decline-btn {
				background: #E94545;
				&.hover {
					background: darken(#E94545,10%);
				}
			}
		}
	}



	.gridContainer {
		overflow-x: auto;
		overflow-y: hidden;
		white-space: nowrap;
	}
}
