#dashboardPage {
    .welcome-message {
        .logo {
            width: 96px;
            height: 96px;
            margin-bottom: 24px;
        }
        .title {
            margin-bottom: 12px;
            font-size: 36px;
            font-weight: 200;
            color: #4E596F;

            span {
                color: #f53b5b;
            }
        }
        p {
            margin-bottom: 36px;
            font-size: 18px;
            font-weight: 200;
            color: #A2A9C5;
        }
    }
    .section {
        margin-bottom: 36px;

        h2 {
        }
        .content {
            margin: 0 32px;
        }
        .empty-message {
            text-align: left;
        }
    }
    .gridContainer {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }
}
