$placeholderColor: #7a7a7a;
		
#profilePage {
	h1 {
		overflow: hidden;

		span {
			float: left;
		}
		#friendSearchBar {
			float: right;
			@include box-sizing;
			border: solid 1px #D8DEE5;
			margin: 0 auto;
			margin-top: 16px;
			width: 184px;
			height: 32px;
			line-height: 34px;
			padding: 0px 8px;
			font-size: $fontSize;

			i {
				margin-right: 4px;
			}
			input {
				width: 132px;
				height: 16px;
				line-height: 17px;
				border: none;
				outline: none;
				background-color: transparent;
				color: #000;
				font: {
					family: HelveticaNeue, Helvetica, Arial;
					weight: 300;
					size: $fontSize;
				}
			}
			#friendSearchInput {
				&::-webkit-input-placeholder { color: $placeholderColor; }
				&:-moz-placeholder { color: $placeholderColor; }
				&:-ms-input-placeholder { color: $placeholderColor; }
			}
		}
	}
	#profileBar {
		position: absolute;
		left: 0px;
		top: 0;
		bottom: 0px;
		width: $profileBarWidth;
		background: #ECF1FF;
		color: #787C8D;
		text-align: center;

		.header {
			@include box-sizing;
			text-align: center;
			border-bottom: solid 1px #D8DEE5;
			height: $topBarHeight;
			line-height: $topBarHeight + 5px;
			@include truncated-text($profileBarWidth);

			.back-btn {
				cursor: pointer;
				font-size: 16px;
				color: #D6DCF3;
				margin-right: 8px;

				&.hover {
					color: $themeColor;
				}
			}
			.title {
				font-size: 18px;
				font-weight: 200;
			}
		}
		.scroll-container {
			overflow-y: auto;
			position: absolute;
			top: $topBarHeight;
			bottom: 0px;
			left: 0px;
			width: $profileBarWidth;

			.expo {
				padding-top: 24px;
				padding-bottom: 18px;
				background-color: #D7DCEB;

				.portrait {
					text-align: center;
					img {
						border-radius: 50%;
						width: 100px;
						height: 100px;
					}
				}
				.addFriend-btn {
					margin-top: 4px;
					height: 1.0em;
					line-height: 1.0em;
				}
				.email, .pendingRequest {
					color: #9C9EB4;
				}
			}

			.section {
				margin-top: 8px;
				margin-bottom: 12px;
				text-align: left;

				h3 {
					color: #AAA8B4;
					font-size: 10px;
					text-transform: uppercase;
					font-weight: 400;
					margin-left: 24px;
				}
				.content {
				}
				.progress-option {
					overflow: hidden;
					padding-left: 24px;
					cursor: pointer;

					.label {
						float: left;

					}
					.counter {
						float: right;
						margin-right: 12px;
					}
					.pointer {
						visibility: hidden;
						float: right;
						color: #fff;
						font-size: 48px;
						line-height: 26px;
						height: 26px;
						margin-right: -3px;
						margin-top: -10px;
					}
					.fa-star {
						color: #FFCB7E;
					}
					.fa-circle {
						&.finished { color: $colorFinished; }
						&.watching { color: $colorWatching; }
						&.backlogged { color: $colorBacklogged; }
						&.onhold { color: $colorOnHold; }
						&.abandoned { color: $colorAbandoned; }
					}
					&.hover {
						background-color: #dae0f1;
					}
					&.selected {
						background-color: #82BAFF;
						color: #fff;
					}
				}
			}
		}
		/*
		#statistics {
			text-align: center;

			.statistic {
				cursor: pointer;
				display: inline-block;
				text-align: center;
				margin: 0px 8px;
				padding: 12px;
				border-radius: 12px;

				.value {
					font: {
						size: 48px;
						weight: 100;
					}
					height: 40px;
					line-height: 48px;

					&.finished { color: $colorFinished; }
					&.watching { color: $colorWatching; }
					&.backlogged { color: $colorBacklogged; }
					&.onhold { color: $colorOnHold; }
					&.abandoned { color: $colorAbandoned; }
				}
				.label {
					text-transform: uppercase;
					color: #aaa;
					font: {
						size: 10px;
						weight: 300;
					}
					line-height: 10px;
				}
				&.hover {
					background: #eee;
				}
			}
		}
		*/
	}
	#profileGrid {
		overflow: hidden;
		padding: 16px;
	}
}
