#profilePage {
	h1 {
		overflow: hidden;

		span {
			float: left;
		}
		#friendSearchBar {
			float: right;
			@include box-sizing;
			border: solid 1px #D8DEE5;
			margin: 0 auto;
			margin-top: 16px;
			width: 184px;
			height: 32px;
			line-height: 34px;
			padding: 0px 8px;
			font-size: $fontSize;

			i {
				margin-right: 4px;
			}
			input {
				width: 132px;
				height: 16px;
				line-height: 17px;
				border: none;
				outline: none;
				background-color: transparent;
				color: #000;
				font: {
					family: HelveticaNeue, Helvetica, Arial;
					weight: 300;
					size: $fontSize;
				}
			}
		}
		$placeholderColor: #7a7a7a;
		#friendSearchInput::-webkit-input-placeholder { color: $placeholderColor; }
		#friendSearchInput:-moz-placeholder { color: $placeholderColor; }
		#friendSearchInput:-ms-input-placeholder { color: $placeholderColor; }
	}
}
