.gridItem {
	@include transition;
	cursor: pointer;
	display: inline-block;
	padding: $gridItemPadding;
	line-height: $gridItemLineHeight;
	@include box-sizing;
	width: $gridItemCoverWidth + $gridItemPadding * 2;
	height: $gridItemCoverHeight + $gridItemPadding * 2 + ($gridItemFontSize * $gridItemLineHeight) * 3 + 4;
	vertical-align: top;
	text-align: left;
	font-size: $gridItemFontSize;

	.title {
		@include transition;
	}
	.episodes > span {
		@include transition;
	}
	&.hover {
		background-color: #F5F5F8;
		.title {
			color: $themeColor;
		}
		.episodes > span {
			color: #000;
		}
	}
	.cover {
		@include box-sizing;
		border-top: solid 5px transparent;
		overflow: hidden;
		width: $gridItemCoverWidth;
		height: $gridItemCoverHeight;
		margin-bottom: 4px;

		img {
			width: 100%;
			height: 100%;
		}
	}
	&.finished .cover { border-color: $colorFinished; }
	&.watching .cover { border-color: $colorWatching; }
	&.backlogged .cover { border-color: $colorBacklogged; }
	&.onhold .cover { border-color: $colorOnHold; }
	&.abandoned .cover { border-color: $colorAbandoned; }
	.title {
		@include truncated-text($gridItemCoverWidth);
		font-family: Arial;
		font-weight: bold;
		color: #45445A;
	}
	.episodes {
		span {
			color: #B8BBD1;
		}
	}
	.rating {
		.star {
			margin-right: 2px;
		}
		.fa-star {
			color: #DAC31A;
			&.unfilled {
				color: #CCCDCE;
			}
		}
	}
}
