<template name="musicSubpage">
<div id="musicSubpage" class="subpage">
{{#if hasSongs}}
{{#with getSongData}}
	{{#if getOpeningThemes}}
		<h4>Opening Themes</h4>
		<div class="song-list">
		{{#each getOpeningThemes}}
			<div class="song">
				<div class="num">{{num}}</div>
				<div class="group">
					<div class="title">{{song}}</div>
					<div class="artist">{{artist}}</div>
				</div>
				<div class="episodes">{{{displayEpisodes episodes}}}</div>
			</div>
		{{/each}}
		</div>
	{{/if}}
	{{#if getEndingThemes}}
		<h4>Ending Themes</h4>
		<div class="song-list">
		{{#each getEndingThemes}}
			<div class="song">
				<div class="num">{{num}}</div>
				<div class="group">
					<div class="title">{{song}}</div>
					<div class="artist">{{artist}}</div>
				</div>
				<div class="episodes">{{{displayEpisodes episodes}}}</div>
			</div>
		{{/each}}
		</div>
	{{/if}}
	{{#if getInsertThemes}}
		<h4>Insert Themes</h4>
		<div class="song-list">
		{{#each getInsertThemes}}
			<div class="song">
				<div class="num">{{num}}</div>
				<div class="group">
					<div class="title">{{song}}</div>
					<div class="artist">{{artist}}</div>
				</div>
				<div class="episodes">{{{displayEpisodes episodes}}}</div>
			</div>
		{{/each}}
		</div>
	{{/if}}
{{/with}}
{{else}}
	<div class="emptyMessage">
		<div class="valigner">
			<p>There are no songs associated with this anime.</p>
		</div>
	</div>
{{/if}}
</div>
</template>
