<template name="collectionPage">
<div id="collectionPage" class="page">
	
	<!--
	<input style="margin-top:200px;" id="importCollectionInput" type="file" />
	-->

	{{#if hasSubscriptions}}
	<h1 class="wrapper">
		<div class="pull-left"><i class="fa fa-th-large"></i> Collection</div>
		<div class="pull-right">
			<i class="exportCollectionBtn fa fa-download"></i>
		</div>
	</h1>
	<div class="pageContent">
		<div id="collectionFilters"></div>
		<div id="collectionGrid"></div>
	</div>
	{{else}}
	<h1 class="wrapper"><i class="fa fa-th-large"></i> Collection</h1>
	<div class="emptyMessage">
		<div class="valigner">
			<p>
			You don't have any anime subscriptions yet.<br/>
			<span class="accent">Start tracking your favourite animes now!</span>
			</p>
			<div class="redirect-btn angiri-bigbtn">Discover</div>
		</div>
	</div>
	{{/if}}
</div>
</template>
