<template name="collectionPage">
<div id="collectionPage" class="page">
	{{#if hasSubscriptions}}
	<h1><i class="fa fa-th-large"></i> Collection</h1>
	<div id="collectionFilters"></div>
	<div id="collectionGrid">
		{{#each getSubscriptions}}
			{{> gridItem this}}
		{{/each}}
	</div>
	{{else}}
	<div class="empty-message">
		<div class="valigner">
			<p>
			You don"t have any anime subscriptions yet.<br/>
			<span class="accent">Start tracking your favourite animes now!</span>
			</p>
			<div class="redirect-btn angiri-bigbtn">Discover</div>
		</div>
	</div>
	{{/if}}
</div>
</template>
