<template name="searchPage">
<div id="searchPage" class="page">

	<!-- header -->
	<h1 class="wrapper">
		<i class="fa fa-search"></i> 
		<div id="searchInputWrapper">
			<input type="text" maxlength="100" id="searchInput" placeholder="Start typing your search..." />
		</div>
		<i class="close-btn fa fa-times-circle"></i>
	</h1>

	<!-- no search results found -->
	<div id="noSearchResults" class="pageContent">
		<div class="emptyMessage">
			<div class="valigner">
				<p>No search results found.</p>
			</div>
		</div>
	</div>

	<!-- loading spinner -->
	<div id="searchLoading" class="pageContent">
		<div class="emptyMessage">
			<div class="valigner">
				<div class="loadingSpinner"></div>
			</div>
		</div>
	</div>

	<!-- search results -->
	<div id="searchResults" class="pageContent">
		<div id="searchResultsContent"></div>
	</div>
</div>
</template>
