<template name="socialPage">
<div id="socialPage" class="page">
	<h1>
		<span><i class="fa fa-users"></i> Friends</span>
		<div id="friendSearchBar">
			<i class="fa fa-search"></i>
			<input id="friendSearchInput" type="text" placeholder="Search for a user..." />
		</div>
	</h1>
	{{#if hasFriends}}
	<div class="pageContent">
		<div id="friendsGrid">
		{{#each getFriends}}
			{{> friend this}}
		{{/each}}
		</div>
	</div>
	{{else}}
	<div class="emptyMessage">
		<div class="valigner">
			<p>
			You don't have any friends on Anigiri yet.<br/>
			<span class="accent">Start sharing your favourite animes now!</span>
			</p>
		</div>
	</div>
	{{/if}}
</div>
</template>
