<template name="statisticsPage">
<div id="statisticsPage" class="page">
	<h1><i class="fa fa-bar-chart-o"></i> Statistics</h1>
	{{#if hasSubscriptions}}
	<div class="pageContent">
		statistics page
	</div>
	{{else}}
	<div class="emptyMessage">
		<div class="valigner">
			<p>
			You don't have any anime subscriptions to show statistics for yet.<br/>
			<span class="accent">Start tracking your favourite animes now!</span>
			</p>
			<div class="redirect-btn angiri-bigbtn">Discover</div>
		</div>
	</div>
	{{/if}}
</div>
</template>
