/**
 * Include this, but you will need to specify a discrete width value.
 *
 * @mixin truncated-text
 */
@mixin truncated-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/**
 * @mixin box-sizing
 * @param $value (default=border-box)
 */
@mixin box-sizing($value: border-box) {
	-webkit-box-sizing: $value;
	-moz-box-sizing: $value;
	box-sizing: $value;
}
/**
 * @mixin user-select
 * @param $value (default=none)
 */
@mixin user-select($value: none) {
	-ms-user-select: $value;
	-moz-user-select: -moz-$value;
	-khtml-user-select: $value;
	-webkit-user-select: $value;
	user-select: $value;
}
/**
 * @mixin box-shadow
 * @param $shadows...
 */
@mixin box-shadow($shadows...) {
	-moz-box-shadow: $shadows;
	-webkit-box-shadow: $shadows;
	box-shadow: $shadows;
}
