$fontSize: 13px;

// themes

// pink theme
$themeColor: #f8738a;
$themeAlt: #f53b5b;

// purple theme
// $themeColor: rgb(175, 64, 175);
// $themeAlt: lighten($themeColor,10%);

// dimensions
$topBarHeight: 64px;
$bottomBarHeight: 72px;
$sideBarWidth: 215px;
$infoBarWidth: 340px;

// progress enumeration colors
$colorFinished: #5EDF6E;
$colorWatching: #5EB6DF;
$colorOnHold: #DFD55E;
$colorBacklogged: #DF5EDA;
$colorAbandoned: #DF5E5E;
