$fontSize: 13px;

// themes
// ...

// dimensions
// ...

// progress enumeration colors
$colorFinished: #5EDF6E;
$colorWatching: #5EB6DF;
$colorOnHold: #DFD55E;
$colorBacklogged: #DF5EDA;
$colorAbandoned: #DF5E5E;
