<template name='socialPage'>
<div id='socialPage' class='page'>
	<h1>
		<span>My Friends</span>
		<div id='friendSearchBar'>
			<i class='fa fa-search'></i>
			<input id='friendSearchInput' type='text' placeholder='Search for a user...' />
		</div>
	</h1>
	{{#if hasFriends}}
	SOCIAL PAGE: LIST ALL FRIENDS HERE
	{{else}}
	<div class='empty-message'>
		<div class='valigner'>
			<p>
			You don't have any friends on Anigiri yet.<br/>
			<span class='accent'>Start sharing your favourite animes now!</span>
			</p>
		</div>
	</div>
	{{/if}}
</div>
</template>
