@placeholderColor: #7a7a7a;


.searchbox {
	.box-sizing;
	border: solid 1px #4A4C5C;
	margin: 0 auto;
	margin-top: 24px;
	width: 184px;
	height: 32px;
	line-height: 29px;
	padding: 0px 8px;

	i.fa.fa-search {
		font-size: 14px;
		margin-right: 4px;
		color: #7E9094;
	}
	input[type=text] {
		width: 132px;
		height: 16px;
		line-height: 17px;
		border: none;
		outline: none;
		background-color: transparent;
		color: #fff;
		font-family: HelveticaNeue, Helvetica, Arial;
		font-weight: 300;
		font-size: @fontSize;
		&::-webkit-input-placeholder { color: @placeholderColor; }
		&:-moz-placeholder { color: @placeholderColor; }
		&:-ms-input-placeholder { color: @placeholderColor; }
	}
}
// autocomplete
.ui-autocomplete {
	max-height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
	border: none;
	.border-radius(0,0,0,0);
	margin: 0;
	padding: 0;
}
.ui-menu-item {
	background-color: #2A2C3C;
	color: #fff;
	border-top: solid 1px #343646;
	border-bottom: solid 1px #1A232E;
}
.ui-menu-item > a {
	font-family: HelveticaNeue, Helvetica,Arial;
	font-weight: 300 !important;
	cursor: pointer;
	.border-radius(0,0,0,0);
	color: #A2A4B5;
	padding: 8px 16px !important;
}
.ui-menu-item > a.ui-state-active,
.ui-menu-item > a.ui-state-focus,
.ui-menu-item > a.ui-state-hover {
	border: solid 1px transparent;
	background-color: #383A4E;
	color: #fff;
}
.ui-menu-item a {
	overflow: hidden;
}
.ui-menu-item .group {
	display: inline-block;
}
